// COLOR VARIABLES
$color-primary: #453b36;
$color-secondary: #1a2435;

$background-color: rgb(245, 243, 244);

$color-orange: rgb(240, 143, 40);
$color-blue: #2c3e5d;



// FONT VARIABLES
@font-face{
        font-family:"Bebas Neue W01 Regular";
        src:url("../lib/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
        src:url("../lib/fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("../lib/fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("../lib/fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("../lib/fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

$font-primary: 'Fira sans', sans-serif;
$font-secondary: 'Roboto', 'Helvetica', sans-serif;
$font-main-heading: "Bebas Neue W01 Regular";


// MEDIA QUERY MANAGER

/*
0-600px     Phone
600-900px   Tablet portrait
900-1200px  Tablet Landcape

[1200-1800px] - normal styles apply
*/

@mixin respond($breakpoint) {
  @if  $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if  $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; //900px
  }
  @if  $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }
}

// Cross browser reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//Making 1rem = 10px definition
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

//Main definition of grid to be able to center sections and give them space on each side
.container {
  background-color: $background-color;
  display: grid;
  position: relative;
  grid-template-rows: 6rem calc(100vh - 6rem) min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, minmax(6rem, 18.5rem)) [center-end] minmax(6rem, 1fr) [full-end];
}