.navbar {
  background-color: $color-blue;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: min-content 1fr repeat(4, min-content);

  @include respond(tab-port) {
    grid-template-columns: repeat(2, min-content) repeat(4, 1fr);
    justify-items: center;
  }

  &__logo-container {
    margin-left: 2.5rem;

    @include respond(tab-port) {
    width: 0;
    opacity: 0;
    display: none;
    }

    @include respond(phone) {
      width: 100%;
      opacity: 1;
      display: block;
      cursor: pointer;
    }
  }

  &__logo {
    width: 5rem;
    display: block;
    transform: translateY(.5rem);
  }

  &__options {
    list-style: none;
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: repeat(4, minmax(16rem, 1fr));
    grid-gap: 2.5rem;
    align-items: center;
  }

  &__link,
  &__link:active,
  &__link:visited {
    color: $color-orange;
    font-family: $font-secondary;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 2rem;

    @include respond(phone) {
      width: 0;
      opacity: 0;
      display: none;
    }
  }
}